* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_2 {
  width: 100%;
  height: 5541px;
  background: rgba(248,251,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v45_109 {
  width: 100%;
  height: 591px;
  background: rgba(27,26,80,1);
  opacity: 1;
  position: absolute;
  top: 4950px;
  left: 0px;
  overflow: hidden;
}
.v72_117 {
  width: 100%;
  color: rgba(248,247,255,1);
  position: absolute;
  top: 275px;
  left: 88px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.testimonial {
  width: 100%;
  height: 720px;
  background: url("v45_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4230px;
  left: 0px;
  overflow: hidden;
}
.v72_116 {
  width: 48px;
  background: url("v72_116.png");
  opacity: 1;
  position: absolute;
  top: 678px;
  left: 973px;
  border: 3px solid rgba(255,239,207,1);
}
.v72_114 {
  width: 48px;
  background: url("v72_114.png");
  opacity: 1;
  position: absolute;
  top: 678px;
  left: 989px;
  border: 3px solid rgba(255,239,207,1);
}
.tst_card {
  width: 500px;
  height: 575px;
  background: rgba(248,247,255,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 1282px;
  overflow: hidden;
}
.score {
  width: 212px;
  color: rgba(155,125,64,1);
  position: absolute;
  top: 41px;
  left: 41px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.tst_txt {
  width: 370px;
  color: rgba(32,31,33,1);
  position: absolute;
  top: 130px;
  left: 41px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.tst_auth {
  width: 380px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 480px;
  left: 41px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.product_container {
  width: 100%;
  height: 680px;
  background: url("v36_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3412px;
  left: 149px;
  overflow: hidden;
}
.prd_card {
  width: 495px;
  height: 680px;
  background: url("v72_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1129px;
  overflow: hidden;
}
.prd_txt {
  width: 405px;
  color: rgba(255,239,207,1);
  position: absolute;
  top: 593px;
  left: 52px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.prd_add {
  width: 91px;
  color: rgba(255,239,207,1);
  position: absolute;
  top: 553px;
  left: 52px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.prd_arr {
  width: 36px;
  background: url("v72_76.png");
  opacity: 1;
  position: absolute;
  top: 634px;
  left: 404px;
  border: 2px solid rgba(255,239,207,1);
}
.v72_87 {
  width: 196px;
  height: 71px;
  background: rgba(27,26,80,1);
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 189px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v72_88 {
  width: 64px;
  color: rgba(248,247,255,1);
  position: absolute;
  top: 15px;
  left: 66px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v72_85 {
  width: 535px;
  color: rgba(111,111,111,1);
  position: absolute;
  top: 277px;
  left: 23px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v72_86 {
  width: 553px;
  color: rgba(27,26,80,1);
  position: absolute;
  top: 133px;
  left: 10px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v37_77 {
  width: 100%;
  height: 671px;
  background: url("v37_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2618px;
  left: 0px;
  overflow: hidden;
}
.v64_53 {
  width: 934px;
  height: 671px;
  background: rgba(27,26,80,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v64_56 {
  width: 280px;
  height: 80px;
  background: rgba(248,247,255,1);
  opacity: 1;
  position: absolute;
  top: 441px;
  left: 208px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v64_57 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 108px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v64_58 {
  width: 482px;
  color: rgba(248,247,255,1);
  position: absolute;
  top: 299px;
  left: 79px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v64_55 {
  width: 693px;
  color: rgba(248,247,255,1);
  position: absolute;
  top: 159px;
  left: 77px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.unq_container {
  width: 100%;
  height: 671px;
  background: url("v38_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1893px;
  left: 1px;
  overflow: hidden;
}
.unq_card {
  width: 500px;
  height: 324px;
  background: rgba(248,247,255,1);
  opacity: 1;
  position: absolute;
  top: 229px;
  left: 1307px;
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.11999999731779099);
  overflow: hidden;
}
.unq_det {
  width: 408px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 110px;
  left: 69px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.unq_head {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 73px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v71_57 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 348px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.about_container {
  width: 100%;
  height: 644px;
  background: url("v35_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1195px;
  left: 148px;
  overflow: hidden;
}
.about_card {
  width: 832px;
  height: 443px;
  background: rgba(248,252,255,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 0px;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.3199999928474426);
  overflow: hidden;
}
.arrow_about {
  width: 29px;
  background: url("v57_26.png");
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 715px;
  border: 2px solid rgba(32,31,33,1);
}
.learn {
  width: 110px;
  color: rgba(32,31,33,1);
  position: absolute;
  top: 376px;
  left: 591px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 20px;
  text-align: left;
}
.v57_21 {
  width: 722px;
  height: 274px;
  background: url("v57_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 22px;
  overflow: hidden;
}
.v57_22 {
  width: 549px;
  color: rgba(32,31,33,1);
  position: absolute;
  top: 102px;
  left: 35px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v57_23 {
  width: 652px;
  color: rgba(32,31,33,1);
  position: absolute;
  top: 28px;
  left: 35px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.abt_btn {
  width: 160px;
  color: rgba(32,31,33,1);
  position: absolute;
  top: 51px;
  left: 57px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.header {
  width: 100%;
  height: 1038px;
  background: url("v6_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.arrow {
  width: 48px;
  background: url("v50_158.png");
  opacity: 1;
  position: absolute;
  top: 943px;
  left: 1816px;
  border: 3px solid rgba(255,239,207,1);
}
.menu_holder {
  width: 100%;
  height: 143px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.lang {
  width: 61px;
  color: rgba(32,31,33,1);
  position: absolute;
  top: 54px;
  left: 1735px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.item_holder {
  width: 485px;
  height: 35px;
  background: url("v45_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 717px;
  overflow: hidden;
}
.item{
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.logo {
  width: 160px;
  height: 140px;
  background: url("v45_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.banner_holder {
  width: 100%;
  height: 143px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 985px;
  left: 137px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.banner_container {
  width: 330px;
  height: 85px;
  margin: 8px;
  overflow: hidden;
}
.num {
  width: 330px;
  color: rgba(32,31,33,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.ban_txt {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: A Iranian Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
